.home{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}


.srcb input{
    background-color: rgb(44, 44, 44);
    border: none;
    width: fit-content;
   
}

.srcb{
    padding: 5px;
    width: 400px;
    display: flex;
    flex-direction: row;
    background-color:  rgb(44, 44, 44);
    border-radius: 20px;
    justify-content: space-around;
    border: 1px solid white;
}


.hom{
    background-color:rgb(44, 44, 44) ;
    border-radius: 20px;
    width: fit-content;
    padding: 5px;
}